root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml}]
indent_style = space
indent_size = 4
continuation_indent_size = 8
max_line_length = 120

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand =
ij_java_imports_layout = java.**,|,javax.**,|,jakarta.**,|,org.**,|,com.**,^onon1101.**,*
ij_java_keep_simple_methods_in_one_line = false
ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_simple_lambdas_in_one_line = true
ij_java_wrap_long_lines = true
ij_java_call_parameters_wrap = split_into_lines
ij_java_call_parameters_new_line_after_left_paren = true
ij_java_method_parameters_wrap = split_into_lines
ij_java_method_parameters_new_line_after_left_paren = true
ij_java_record_components_wrap = split_into_lines
ij_java_new_line_after_lparen_in_record_header = true
ij_java_method_call_chain_wrap = split_into_lines
ij_java_wrap_first_method_in_call_chain = true
ij_java_align_multiline_chained_methods = false

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
